
.campuslogo {
    min-width:200px;
    min-height:100px; 
    max-height:100px;
    max-width: 200px;
    margin: 128px 410px 32px;
}
p {
    font-family: "Mona Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #F9FBFC;
}
header {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    justify-content: center;
    align-items: center;
}
main{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.smallcontainer {
    background-color: #333333;
    width: 500px;
    height: 462px;
    border-radius: 2%;
    box-shadow: 0 0 100px #6b5ffd;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: visible;
}
.blurcontainer{
    width: 370px;
    height: 400px;
    padding: 40px 64px 24px;
    border-radius: 2%;
    border: 4px solid rgb(152 153 156);
    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(9px);
}
.mediumtext {
    font-size: 24px;
    font-weight: 500;
}
.bigtext {
    font-size: 31px;
    font-weight: 500;
}
#textoIndexHeader1{
    margin:0px;
}
#textoIndexHeader2{
    margin: 0px 132.375px 32px;
}
#headerIndex{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}
body {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url(../MEDIA/starts.png);
    background-color: #313338;
    width: 100%;
    height: 100vh;
    animation-name: rotate;
    animation: ease 1s infinite;
    overflow: hidden;
}
.loginGoogle {
    background-color: white;
    width: 362px;
    height: 42px;
    border: 1px solid white;
    border-radius: 10px;
    color: #44546F;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}
#politicasPrivacidadDiv {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0px;
}
#aSmallText {
    font-family: "Mona Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #F9FBFC;
    margin: 0px;
}
#ppdArriba {
    margin: 0;
}
.Hologram{
    width: 220px;
    size: 220px;
    position: absolute;
    animation: ease-in-out;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-name: hola;
}
.hologramPlanet{
    right: -10rem;
    top: 1%;
    
}
.hologramCircle{ 
    left: -10rem;
    top: 45%;
}
@keyframes hola {
    0%{transform: translateY(5px);}
    50%{transform: translateY(-5px);}
    100%{transform: translateY(5px);}
}
